POSTGRES_DB=bossbot
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_pw

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/bossbot
SPRING_DATASOURCE_USERNAME=postgres_user
SPRING_DATASOURCE_PASSWORD=postgres_pw

GOOGLE_CLIENT_ID=<YOUR GOOGLE CLIENT ID>
GOOGLE_CLIENT_SECRET=<YOUR GOOGLE CLIENT SECRET>

JWT_SECRET=<GENERATE AND ADD HERE JWT SECRET>

APP_CORS_ALLOWED_ORIGINS=http://localhost:5173
